<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dan's Coffee Shop - Login</title>
        <meta name="author" content="Dan Eror">
        <meta name="description" content="Homepage for Dan's Coffee Shop">
    </head>

    <body>
        <h1>Dan's Coffee Shop</h1>
        <h2>{{ username }}, you have been locked out due to too many log-in attempts! Please contact your administrator.</h2>

        <form method="POST">
                <button name="back">
                    Back to Login
                </button><br/>
                <button name="home">
                    Home
                </button><br/>
        </form>
    </body>
</html>