<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dan's Coffee Shop - Login</title>
        <meta name="author" content="Dan Eror">
        <meta name="description" content="Homepage for Dan's Coffee Shop">
    </head>

    <body>
        <h1>Dan's Coffee Shop</h1>
        <h2>Welcome {{ username }}! Please select from menus below...</h2>

        <form method="POST">
            <button name="admin">
                Admin Access
            </button><br/>
            <button name="inventory">
                Inventory
            </button><br/>
            <button name="timesheet">
                Employee Timesheet
            </button><br/>
            <button name="menu">
                Drink Menu
            </button><br/>
            <button name="home">
                Log out
            </button><br/>
        </form>
    </body>
</html>