<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dan's Coffee Shop - Login</title>
        <meta name="author" content="Dan Eror">
        <meta name="description" content="Homepage for Dan's Coffee Shop">
    </head>

    <body>
        <h1>Dan's Coffee Shop</h1>
        <h2>Drinks List</h2>

        <table>
            <thead>
            <tr>
                <th>Drink</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% for d in data %}
            <tr>
                <td>{{ d[0] }}</td>
                <td>{{ d[1] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <form method="POST">
                <button name="back">
                    Back
                </button><br/>
        </form>
    </body>
</html>