<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dan's Coffee Shop - Login</title>
        <meta name="author" content="Dan Eror">
        <meta name="description" content="Homepage for Dan's Coffee Shop">
    </head>

    <body>
        <h1>Dan's Coffee Shop</h1>
        <h2>Please enter new user information below</h2>
        <h3>Note... username must be 4-12 characters long and password must match following constraints:</h3>
        <ul>
            <li>8-25 characters</li>
            <li>At least one number</li>
            <li>At least one uppercase letter</li>
            <li>At least one lowercase letter</li>
            <li>At least one of the following special characters: !@#$%&*?(){}[]</li>
            <li>Must not contain quotes</li>
        </ul>
        <form method="POST">
                <label for="username">Username:</label><input
                    type="text" id="username"
                    name="username"><br/>
                <label for="password">Password:</label><input
                    type='password' id="password"
                    name="password">
                <button type="submit">
                    Submit
                </button><br/>
                <script>
                    function generate_password(){
                        let password = "";
                        // adds two numbers
                        for(let i = 0; i < 2; i ++){
                            password += Math.floor(Math.random()*10) + "";
                        }

                        // adds a special char
                        let special_chars="!@#$%&*?(){}[]";
                        password += special_chars[Math.floor(Math.random() * special_chars.length)];

                        // adds three upper and two lowercase letters
                        let lowercase = "abcdefghijklmnopqrstuvwxyz";
                        let uppercase = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
                        for(let i = 0; i < 2; i ++){
                            password += lowercase[Math.floor(Math.random() * lowercase.length)]
                        }
                        for(let i = 0; i < 3; i ++){
                            password += uppercase[Math.floor(Math.random() * uppercase.length)]
                        }
                        
                        //shuffles the new password so each one is in a different order (so the numbers and special chars are not always at the start)
                        let pass_chars = password.split('');  // splits password into list of chars
                        for (let i = pass_chars.length - 1; i > 0; i--) {  // loops through entire string
                            const j = Math.floor(Math.random() * (i + 1));  // gets a random index to perform swap with current index
                            [pass_chars[i], pass_chars[j]] = [pass_chars[j], pass_chars[i]];  //swaps two characters
                        }
                        password = pass_chars.join('');  // rejoins the chars into a string

                        return "<h3>Suggested password: " + password + "</h3>";
                    }

                    function refresh_password(){
                        pw = generate_password();
                    }

                    let pw = generate_password();
                    document.write(pw);
                </script><br/>
                <button onclick="refresh_password()" name="pw_gen">Generate new Password</button>
                <button name="home">Return to Home</button>
        </form>
    </body>
</html>