<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dan's Coffee Shop - Login</title>
        <meta name="author" content="Dan Eror">
        <meta name="description" content="Homepage for Dan's Coffee Shop">
    </head>

    <body>
        <h1>Dan's Coffee Shop</h1>
        <h2>Registration Success! You can now proceed to login page.</h2>

        <form method="POST">
                <button name="login">
                    Go to Login Page
                </button><br/>
                <button name="home">Return to Home</button>
        </form>
    </body>
</html>